* {
  box-sizing: border-box;
  margin: 0px;
}

@font-face {
  font-family: inter;
  src: url(./assets/fonts/Inter-Regular.ttf);
}

html {
  font-size: 62.5%;
  border: none;
  width: 100%;
}

body {
  background-color: rgba(0, 0, 0, 225);
  color: white;
  margin: 0;
  width: 100vw;
  font-family: "inter";
 height: 100vh;
 overflow-x: hidden;
}

.common_container {
  display: flex;
  flex-direction: column;
  width: 100%;
   margin: auto; 
}

.container {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items:center;
  text-decoration: none;
  color: white;
  padding: 4rem;
  width: 100%;
  position: fixed;
}

.input-award {
  font-size: 4rem;
  color: white;
  font-weight: 700;
}

.input-nav {
  display: flex;
  font-size: 20px;
  justify-content: space-evenly;
  align-items: center;
  gap: 8rem;
}

.input-strong {
  font-weight: bold;
  font-size: 25px;
}

.input-submit {
  font-size: 2.5rem;
  font-style: italic;
  font-weight: lighter;
}

a {
  font-weight: 400;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.label_content {
  display: inline-flex;
  justify-items: flex-start;
  align-items: flex-start;
  height: 120vh;
  width: 100vw;
  padding: 50px;
}

.label-intro {
  margin-top: 180px;
}

.header_input {
  margin-top: 50px;
  font-size: 4rem;
  font-weight: 600;
  font-family: "inter";
}

.label_paragraph {
  margin-top: 50px;
  font-size: 1.5rem;
  font-weight: lighter;
  max-width: 100vw;
}

.check_input {
  font-size: 1.5rem;
  text-decoration: underline;
  margin-top: 30px;
  font-weight: lighter;
}

.image-container {
  margin-top: 120px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 2rem;
  width: 100%;
  border-radius: 2.5rem;
}

.container-form {
  background-color: rgba(35, 35, 35, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 120vh;
  background-image: url("/assets/images/cameraorg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: auto;
}

.container-image {
  display: flex;
  width: 90vw;
  height: 100vh;
  background-color: rgba(46, 46, 46, .3);
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  margin-bottom: 8rem;


}

.container-left {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 9rem;

}

.container-right {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-left: 1px solid rgb(158, 155, 155);
  padding-left: 5rem;

}

.header-form {
  margin-top: 3rem;
  font-weight: lighter;
  font-size: 2rem;
  padding-bottom: 6rem;
  color: white;
}

.input-common {
  background-color: transparent;
  font-size: 1.5rem;
  height: 3rem;
  margin-bottom: 2.5rem;
  border: none;
  border-bottom: 1px solid rgb(158, 155, 155);
  outline: none;
  color: white;
}

.input-option {
  padding-right: 2rem;
}

#zipcode {
  width: 8rem;
}

.submit {
  background-color: rgba(87, 189, 52, 255);
  border-radius: 2rem;
  outline: none;
  cursor: pointer;
  border: none;
  height: 3rem;
  width: 15rem;
  margin-right: 3rem;
}

.cancel {
  background-color: black;
  color: white;
  border-radius: 2rem;
  outline: white;
  cursor: pointer;
  border: transparent;
  height: 3rem;
  width: 15rem;
}

::placeholder {
  color: rgba(159, 159, 159, 255);
}

#Category {
  color: rgba(159, 159, 159, 255);
  width: 34rem;
}

#description {
  width: 62%;
  height: 10rem;
  border-radius: 1rem;
  margin-top: 2.5rem;
  border: 1px solid rgb(158, 155, 155);
}

.input-radio {
  accent-color: white;
  font-size: 1.5rem;
  color: rgba(159, 159, 159, 255);
  accent-color: rgb(20, 16, 16);

}

.description-box {
  font-size: 1.5rem;
  color: white;
  padding-top: 6rem;
}

.payment {
  font-size: 1.5rem;
}

#firstname {
  width: 30rem;
}

#email {
  width: 30rem;
}

#phone {
  width: 29rem;
}

#Address {
  width: 26rem;
}

#Address-tye {
  width: 25rem;
}

#city {
  color: rgba(159, 159, 159, 255);
  border-bottom: 1px solid rgb(158, 155, 155);
  outline: none;
  width: 13rem;
  margin-right: 4rem;
}

#state {
  color: rgba(159, 159, 159, 255);
  width: 8rem;
  border-bottom: 1px solid rgb(158, 155, 155);
  outline: none;
}

#country {
  color: rgba(159, 159, 159, 255);
  border-bottom: 1px solid rgb(158, 155, 155);
  outline: none;
  width: 13rem;
  margin-right: 4rem;
}

#credit {
  width: 34rem;
}

#card {
  margin-top: 1.5rem;
  width: 34rem;
}

#agree {
  font-size: 2rem;
  align-items: flex-start;
  accent-color: black;
  margin: 5px 0px 20px;
  align-content: center;
}

span {
  color: #3289bd;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.label-input {
  font-size: 1.5rem;
}